@import url('https://fonts.googleapis.com/css?family=Oswald:700|Roboto:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main_font: 'Oswald', sans-serif; 
    --sceond_font: 'Roboto', sans-serif;

    --lightBeige: #DEF6C9;
    --darkGrey: #444E52;
    --grey: #7C8296;
    --lightGrey: #B3BFCA;
    --lightBlue: #CBDADD;
    --whithe: #E6E7ED;
    --red: #801515;
}

body {
    background: grey;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Nav */
nav {
    width: 100%;
    background: rgba(68, 72, 82, 0.9);
    position: absolute;
    z-index: 1;
    transition: 1s ease;    
}

nav .nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.nav li {
    text-align: center;
    border-right: 1px solid var(--lightGrey); 
    
}

.nav li a {
    display: block;
    min-width: 100px;
    padding: 8px 12px;
    line-height: 48px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--main_font);
    color: var(--lightBeige);
    background: var(--darkGrey);
    transition: .2s ease-in;
}

.nav li:last-of-type {
    border-right: none;
}

.nav li a:hover {
    background: var(--grey);
    color: var(--whithe);
}

/* header */ 
header {
    height: 100vh;
    position: relative;
    background: var(--lightBlue);
}

header .container-flex {
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

header .slogan {
    width: 800px;
}

header .slogan h1 {
    font-size: 40px;
    font-family: var(--main_font);
}

header .slogan h2 {
    font-size: 28px;
    font-family: var(--sceond_font);
}

header .slogan h2 span {
    font-size: 32px;
}

header .slogan p {
    font-size: 24px;
    font-family: var(--sceond_font);
    font-weight: bold;
}

header .slogan p span {
    font-size: 28px;
}

header .btn {
    border: none;
}

header .btn a {
    display: block;
    padding: 15px 25px;
    background-position: 100% 0;
    background-size: 300%;
    background-image: linear-gradient(45deg, var(--darkGrey) 50%, var(--lightGrey) 50%);
    color: var(--darkGrey);
    font-size: 20px;
    font-family: var(--sceond_font);
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 8px;
    transition: .4s ease-in-out;
}

header .btn a:hover {
    background-position: 0 100%;
    color: var(--lightBeige);
}

/* About */
.info {
    height: 100vh;
    background: deepskyblue;
}

.info .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;

}

.info .section {
    max-width: 400px;
    height: 600px;
    text-align: center;
}

.info .section h2 {
    font-size: 24px;
    margin: 40px 0;
}

.info .foto img{
    width: 400px;
    height: 600px;
}

/* Skills */
.skills {
    min-height: 100vh;
    background: cornflowerblue;
}

.skills .flex {
    display: flex;
    flex-wrap: wrap;
}

.skills .logo {
    width: 200px;
    height: 200px;
    text-align: center;
    margin-top: 80px;
    margin-right: 40px;
}

.skills .logo figcaption {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
    opacity: 0;
    transition: .3s ease-in;
}

.skills .logo svg {
    transition: .3s ease-in-out;
}

.skills .logo svg:hover {
    transform: scale(1.2);
}

.skills svg:hover + figcaption {
    opacity: 1;
}

.skills .logo img {
    width: 100%;
    height: 100%;
}

/* Projects */
.projects {
    height: 100vh;
    background: beige;
}

svg .git:hover {
    fill: white;
}

/* kontakt */
.modal {
    min-width: 100vw;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    overflow: auto;
    background: rgba(0,0,0,0.5);
    animation-name: modalBackground;
    animation-duration: .2s;
}

.modal-content {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #000;
    box-shadow: 8px 6px 10px #000;
    opacity: 0;
    animation-name: openModal;
    animation-delay: .1s;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

/* helpers */
.sticky {
    position: fixed;
    top: 0px;
}

.active {
    color: var(--darkGrey) !important; 
    background: var(--lightBeige) !important;
}

.red {
    color: var(--red);
}

/* Animations */
@keyframes modalBackground {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes openModal {
    0% {
        transform: translateX(-200px);
    } 80% {
        transform: translateX(20px);
    } 100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes closeModal {
    0% {
        transform: translateY(15px);
    } 100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}