@import url('https://fonts.googleapis.com/css?family=Oswald:700|Roboto:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* fonts */
    --main_font: 'Oswald', sans-serif; 
    --sceond_font: 'Roboto', sans-serif;
    /* colors */
    --lightBeige: #DEF6C9;
    --darkGrey: #444E52;
    --grey: #7C8296;
    --lightGrey: #B3BFCA;
    --lightBlue: #CBDADD;
    --white: #E6E7ED;
    --red: #801515;
}

body {
    background: grey;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Nav */
nav {
    width: 100%;
    background: rgba(68, 72, 82, 0.9);
    position: absolute;
    z-index: 1;
    transition: 1s ease;    
}

nav .nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.nav li {
    text-align: center;
    border-right: 1px solid var(--lightGrey); 
    
}

.nav li a {
    display: block;
    min-width: 100px;
    padding: 8px 12px;
    line-height: 48px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--main_font);
    color: var(--lightBeige);
    background: var(--darkGrey);
    transition: .2s ease-in;
}

.nav li:last-of-type {
    border-right: none;
}

.nav li a:hover {
    background: var(--grey);
    color: var(--whithe);
}

/* header */ 
header {
    height: 100vh;
    position: relative;
    background: var(--white);
}

header .container-flex {
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

header .slogan {
    width: 800px;
}

header .slogan h1 {
    font-size: 40px;
    font-family: var(--main_font);
    animation-name: headerH1;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

header .slogan h2 {
    font-size: 28px;
    font-family: var(--sceond_font);
    animation-name: headerH2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

header .slogan h2 span {
    font-size: 32px;
}

header .slogan p {
    font-size: 24px;
    font-family: var(--sceond_font);
    font-weight: bold;
    animation-name: headerP;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
}

header .slogan p span {
    font-size: 28px;
}

header .btn {
    border: none;
}

header .btn a {
    display: block;
    padding: 15px 25px;
    background-position: 100% 0;
    background-size: 300%;
    background-image: linear-gradient(45deg, var(--darkGrey) 50%, var(--lightGrey) 50%);
    color: var(--red);
    font-size: 20px;
    font-family: var(--sceond_font);
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 8px;
    transition: .4s ease-in-out;
}

header .btn a:hover {
    background-position: 0 100%;
    color: var(--lightBeige);
}

/* About */
.info {
    height: 100vh;
    background: var(--white);
}

.info .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;

}

.info .section {
    max-width: 600px;
    text-align: center;
}

.info .section h2 {
    color: var(--red);
    font-family: var(--main_font);
    font-size: 24px;
    margin: 30px 0;
    transition: 0.2s;
}

.info .section p  {
    font-family: var(--sceond_font);
    font-size: 18px;
}

.info .section:hover > h2 {
    color: var(--darkGrey);
    transform: scale(1.1);
}

.info .foto img{
    width: 350px;
    height: 525px;
}

/* Skills */
.skills {
    min-height: 80vh;
    background: var(--white);
    text-align: center;
}

.skills h2 {
    font-family: var(--main_font);
    font-size: 32px;
    color: var(--red);

}

.skills .flex {
    display: flex;
    flex-wrap: wrap;
}

.skills .logo {
    width: 200px;
    height: 200px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 40px;
}

.skills svg {
    width: 150px;
    height: 150px;
}

.skills .logo figcaption {
    color: var(--red);
    font-size: 30px;
    font-weight: 700;
    font-family: var(--main_font);
    margin-top: 15px;
    margin-bottom: 10px;
    opacity: 0;
    transition: .4s ease-in;
}

.skills .logo .description {
    font-family: var(--main_font);
    color: var(--darkGrey);
    opacity: 0;
    transition: 0.4s;
}

.skills .logo svg {
    transition: .3s ease-in-out;
}

.skills .logo svg:hover {
    transform: scale(1.2);
}

.skills .logo:hover > figure figcaption {
    opacity: 1;
}

.skills figure:hover + .description {
    opacity: 1;
}

.skills .logo img {
    width: 100%;
    height: 100%;
}

/* Projects */
.projects {
    height: 100vh;
    background: var(--white);
    text-align: center;
}

.projects h2 {
    color: var(--red);
    font-family: var(--main_font);
    font-size: 32px;
    padding: 40px 0;
}

.projects .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    display: block;
    width: 300px;
    height: 250px;
    overflow: hidden;
}

.project .layer {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    color: var(--lightBlue);
    font-family: var(--sceond_font);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    transform: translateX(-300px);
    transition: .3s ease-in;
}

.project:hover > .layer {
    transform: translateX(0);
}

.project .layer p {
    display: block;
}

.layer .tech i {
    font-size: 40px;
    margin: 5px 10px 0 0;
}

.layer .links a {
    margin: 0 10px 10px 0;
    text-decoration: none;
    color: var(--white);
    font-size: 40px;
}

.projects .project {
    background-size: cover;
}

.projects .kanban {
    background-image: url(image/kanban.jpg);
}

.projects .psd1 {
    background-image: url(image/PSD1.jpg);
}

.projects .quote {
    background-image: url(image/quote.jpg);
}

.projects .github {
    background-image: url(image/githubSearch.jpg);
}

/* kontakt */
#modal {
    padding: 15px 25px;
    background-position: 100% 0;
    background-size: 300%;
    background-image: linear-gradient(45deg, var(--darkGrey) 50%, var(--lightGrey) 50%);
    color: var(--red);
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--sceond_font);
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 8px;
    transition: .4s ease-in-out;
}

#modal:hover {
    background-position: 0 100%;
    color: var(--lightBeige);   
}

.modal {
    min-width: 100vw;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    overflow: auto;
    background: rgba(0,0,0,0.5);
    animation-name: modalBackground;
    animation-duration: .2s;
}

.modal-content {
    min-width: 300px;
    max-width: 600px;
    background: var(--darkGrey);
    margin: 0 auto;
    border: 2px solid #000;
    border-radius: 12px;
    box-shadow: 8px 6px 10px #000;
    text-align: center;
    opacity: 0;
    animation-name: openModal;
    animation-delay: .1s;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.modal-content .modal-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-content h3 {
    margin-left: 100px;
    color: var(--lightBeige);
    line-height: 28px;
    font-family: var(--main_font);
    font-size: 24px;
    text-transform: uppercase;

}

.modal-content .modal-header button {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: var(--white);
    cursor: pointer;
    background: var(--red);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50%;
    border: 1px solid #000;
    transition: .3s;
}

.modal-content .modal-header button:hover {
    background: var(--darkGrey);
}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content form input {
    width: 280px;
    height: 32px;
    margin-top: 15px;
    padding: 3px;
    border: 2px solid var(--red);
    border-radius: 4px;
    font-size: 20px;
    font-family: var(--sceond_font);
    transition: .3s;
}

.modal-content form input::placeholder, .modal-content form textarea::placeholder {
    color: var(--red);
}

.modal-content form input:focus::placeholder, .modal-content form textarea:focus::placeholder {
    color: var(--darkGrey);
} 

.modal-content form input:focus, .modal-content form textarea:focus {
    background: var(--lightBlue);
    color: #000;
}

.modal-content form textarea {
    max-width: 280px;
    margin: 15px 0;
    padding: 3px;
    border: 2px solid var(--red);
    border-radius: 4px;
    font-size: 20px;
    font-family: var(--sceond_font);
}

.modal-content form button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-position: 100% 0;
    background-size: 300%;
    background-image: linear-gradient(45deg, var(--lightBeige) 50%, var(--lightGrey) 50%);
    color: var(--red);
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--sceond_font);
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 8px;
    transition: .4s ease-in-out;
}

.modal-content form button:hover {
    background-position: 0 100%;
    color: var(--darkGrey);
}

/* helpers */
.sticky {
    position: fixed;
    top: 0px;
}

.active {
    color: var(--darkGrey) !important; 
    background: var(--lightBeige) !important;
}

.red {
    color: var(--red);
}

/* Animations */
    /* header animation */
@keyframes headerH1 {
    0% { 
        transform: translateY(-200px);
        opacity: 0;
    } 50% {
        transform: translateY(-200px);
        opacity: 0;
    } 90% {
        transform: translateY(10px);
        opacity: 1;
    } 100% {
        transform: translateY(0);
    }
}

@keyframes headerH2 {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    } 70% {
        transform: translateX(-200px);
        opacity: 0;
    } 95% {
        transform: translate(15px);
        opacity: 1;
    } 100% {
        transform: translateX(0);
    }
}

@keyframes headerP {
    0% {
        opacity: 0;
    } 80% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}


@keyframes modalBackground {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes openModal {
    0% {
        transform: translateX(-200px);
    } 80% {
        transform: translateX(20px);
    } 100% {
        transform: translateX(0);
        opacity: 1;
    }
}
